<form class="contact" data-request="{{__SELF__}}::onSend"  data-request-validate data-request-flash>
	<div class="form-group">
		<label for="name">{{ "moonwalkerz.contact::lang.contactform.name"|trans }} </label>
		<input id="name" name="name" placeholder="{{ 'moonwalkerz.contact::lang.contactform.name_placeholder'|trans }}" class="form-control" type="text">
		<div  class="text-danger" data-validate-for="name"> {{ 'moonwalkerz.contact::lang.contactform.name_placeholder'|trans }}</div>
	</div>
	<div class="form-group">
		<label for="email">{{ "moonwalkerz.contact::lang.contactform.email"|trans }}</label>
		<input id="email" name="email" placeholder="{{ 'moonwalkerz.contact::lang.contactform.email_placeholder'|trans }}" class="form-control" type="text">
		<div class="text-danger" data-validate-for="email">{{ 'moonwalkerz.contact::lang.contactform.email_placeholder'|trans }}</div>
	</div>

{% if (is_phone_requested) %}
	<div class="form-group">
		<label for="phone">{{ "moonwalkerz.contact::lang.contactform.phone"|trans }}</label>
		<input id="phone" name="phone" placeholder="{{ 'moonwalkerz.contact::lang.contactform.phone_placeholder'|trans }}" class="form-control" type="text">
		<div  class="text-danger" data-validate-for="phone">{{ 'moonwalkerz.contact::lang.contactform.phone_placeholder'|trans }}</div>
	</div>
{% endif %}

	<div class="form-group">
		<label for="message">{{ "moonwalkerz.contact::lang.contactform.message"|trans }}</label>
		<textarea id="message" name="message" placeholder="{{ 'moonwalkerz.contact::lang.contactform.message_placeholder'|trans }}" class="form-control" rows="3"></textarea>
		<div  class="text-danger"  data-validate-for="message">{{ 'moonwalkerz.contact::lang.contactform.message_placeholder'|trans }}</div>
	</div>

{% if (is_gdpr_contact_requested) %}
	<div class="form-group">
		{% if settings.txt_gdpr %}
		{{ settings.txt_gdpr}}
		{% else %}
		{{ 'moonwalkerz.contact::lang.settings.txt_gdpr_default'|trans }}
		{% endif %}
	</div>

	<div class="form-group">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="gdpr" name="sw_contact">
			<label class="form-check-label" for="gdpr">	
				{{ 'moonwalkerz.contact::lang.settings.txt_contact_text1'|trans }} 
				{% if settings.company_name %}{{ settings.company_name }}{% else %}{{ 'moonwalkerz.contact::lang.settings.company_name_default'|trans }}{% endif %}
				{{ 'moonwalkerz.contact::lang.settings.txt_contact_text2'|trans }}				
				</label>
				<div class="text-danger"  data-validate-for="sw_contact">
				{{ 'moonwalkerz.contact::lang.settings.txt_contact_error'|trans }}
				</div>
		</div>
	{% if (is_gdpr_promo_requested) %}
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="promo" name="sw_promo">
			<label class="form-check-label" for="promo">
				{{ 'moonwalkerz.contact::lang.settings.txt_promo_text1'|trans }} 
				{% if settings.company_name %}{{ settings.company_name }}{% else %}{{ 'moonwalkerz.contact::lang.settings.company_name_default'|trans }}{% endif %}
				{{ 'moonwalkerz.contact::lang.settings.txt_promo_text2'|trans }}				
				</label>
		</div>
	{% endif %}
	{% if (is_gdpr_third_parties_requested) %}
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="third_parties" name="sw_third_parties" >
			<label class="form-check-label" for="third_parties">
				{{ 'moonwalkerz.contact::lang.settings.txt_third_parties_text1'|trans }} 
				{% if settings.company_name %}{{ settings.company_name }}{% else %}{{ 'moonwalkerz.contact::lang.settings.company_name_default'|trans }}{% endif %}
				{{ 'moonwalkerz.contact::lang.settings.txt_third_parties_text2'|trans }}				
				</label>
		</div>
	{% endif %}
	</div>

{% endif %}

	{% if settings.captcha == 0 %}
	<input class="btn btn-colored btn-rounded btn-theme-colored pl-30 pr-30" value="{{ 'moonwalkerz.contact::lang.contactform.submit'|trans }}" type="submit">
	{% elseif settings.captcha == 1 %}
	<button class="btn btn-colored btn-rounded btn-theme-colored pl-30 pr-30 g-recaptcha" data-sitekey="{{ settings.google_api_key}}" data-callback='onSubmit'>{{ 'moonwalkerz.contact::lang.contactform.submit'|trans }}</button>
	{% put scripts %}
	<script>

		function onSubmit(token) {
		$('form').request("{{__SELF__}}::onSend");
		}
	  </script>
	{% endput %}
	{% else %}
	<div class="g-recaptcha" data-sitekey="{{ settings.google_api_key}}"></div>
	<input class="btn btn-colored btn-rounded btn-theme-colored pl-30 pr-30" value="{{ 'moonwalkerz.contact::lang.contactform.submit'|trans }}" type="submit">

	{% endif %}

</form>
{% flash success %}
<div class="alert alert-success alert-dismissible" role="alert">	
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
	</button>
	{{ message }}
</div>
{% endflash %}