{% put styles %}
<style>.error {display:none}</style>
{% endput %}


<form data-request="contactform::onSend"  data-request-validate data-request-flash>
	<div class="form-group">
		<label for="name">	Name </label>
		<input id="name" name="name" placeholder="First & last name" class="form-control" type="text">
		<span  class="error" data-validate-for="name">Insert your first & last name</span>
	</div>
	<div class="form-group">
		<label for="email">Email address</label>
		<input id="email" name="email" placeholder="your email" class="form-control"type="text">
		<span  class="error"  data-validate-for="email">Insert your email address</span>
	</div>
{% if (is_phone_requested) %}
	<div class="form-group">
		<label for="phone">Phone Number</label>
		<input id="phone" name="email" placeholder="+39..." class="form-control"type="text">
		<span  class="error"  data-validate-for="email">Insert your phone number</span>
	</div>
{% endif %}



	<div class="form-group">
		<label for="message">Message</label>
		<textarea id="message" name="message" class="form-control" rows="3"></textarea>
		<span  class="error" data-validate-for="message">Insert your phone number</span>
	</div>

{% if (is_gdpr_enabled) %}
<div class="form-group">
{{ settings.txt_gdpr}}
</div>
<div class="form-group">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="gdpr">
    <label name="gdpr" class="form-check-label" for="gdpr">{{ settings.txt_contact}}</label>
  </div>
	{% if (enable_gdpr_promo) %}
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="marketing">
    <label name="marketing" class="form-check-label" for="marketing">{{ settings.txt_promo}}</label>
  </div>
	{% endif %}
	{% if (enable_gdpr_third) %}
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="newsletter">
    <label name="newsletter" class="form-check-label" for="newsletter">{{ settings.txt_third_parties}}</label>
  </div>
	{% endif %}
</div>
{% endif %}
	<input class="btn btn-primary btn-block" value="Invia" type="submit">
</form>
{% flash success %}
<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
	</button>
	{{ message }}
</div>
{% endflash %}