form.contact .error {
    display:none;
}

form.contact .error.visible {
    display:block;
    color:#fff;
    padding: 5px 10px;
    background:darkred;
    border-radius: 0 0 5px 5px;
}

form.contact .arrow-up {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.2rem;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid white;
  }